name: metanorma

on:
  push:
    branches: [ main ]
    tags:     [ 'v*' ]
  pull_request:
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}-${{ github.job }}-${{ github.head_ref || github.ref_name }}'
  cancel-in-progress: true

permissions:
  contents: read
  packages: write

env:
  BUNDLER_VER: latest

jobs:
  build:
    name: Build gems for metanorma testing
    uses: ./.github/workflows/gem-build.yml

  metanorma:
    needs: build
    runs-on: ${{ matrix.env.os }}
    strategy:
      fail-fast: false
      matrix:
        ruby: [ '3.2', '3.4' ]
        env:
          - { os: macos-latest, platform: arm64-darwin }
          - { os: ubuntu-latest, platform: x86_64-linux }
          - { os: windows-latest, platform: x64-mingw-ucrt }
        experimental: [true]
    steps:
      - uses: actions/checkout@v6
        with:
          repository: metanorma/metanorma

      - uses: actions/download-artifact@v7
        with:
          path: pkg
          pattern: '${{ github.run_number }}-*-pkg'
          merge-multiple: true

      - name: Setup ffi-libarchive-binary
        run: |
          gem unpack --target pkg pkg/ffi-libarchive-binary-*-${{ matrix.env.platform }}.gem
          mv pkg/ffi-libarchive-binary-*-${{ matrix.env.platform }} pkg/ffi-libarchive-binary
          echo "gem 'ffi-libarchive-binary', path: 'pkg/ffi-libarchive-binary'" > Gemfile.devel

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: ${{ env.BUNDLER_VER }}
          bundler-cache: true

      - uses: metanorma/metanorma-build-scripts/inkscape-setup-action@main

      - run: bundle exec rake
        continue-on-error: ${{ matrix.experimental }}